<!DOCTYPE html>
<html  layout:decorate="~{layout_dash}"
       xmlns:th="https://www.thymeleaf.org"
       xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Reported - Dashboard</title>
</head>
<body>

<div layout:fragment="content" class="container">
    <div th:if="${msg !=''}" class="alert alert-success alert-dismissible fade show" style="margin-top: 10px">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <i class="fas fa-check-circle" style="color:green"></i><strong th:text="${msg}"></strong>
    </div>
    <div th:switch="${projects}">
        <h2 th:case="null">No projects yet!</h2>
        <div th:case="*">
            <h2 style="margin-top: 30px">Projects</h2><p><a th:href="@{'/project/ad'}" class="btn btn-outline-primary"><i class="bi bi-folder-plus" style="margin-right: 5px"></i>Add a new project</a></p>
            <table class="table table-striped">
                <thead>
                <tr>
<!--                    <th>ID</th>-->
                    <th>Name</th>
                    <th>ProjectStart</th>
                    <th>Description</th>
<!--                    <th>Owner</th>-->
                    <th>Add task</th>
                    <th>Budget</th>
                    <th>Info</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="project : ${projects}">
<!--                    <td th:text="${project.getId()}"></td>-->
                    <td th:text="${project.name}"></td>
                    <td th:text="${project.projectStart.toLocalDate()}"></td>
                    <td th:text="${project.description}"></td>
<!--                    <td th:text="${project.ownerId}"></td>-->
                    <td><a th:href="@{/tasks/ad/{id}(id=${project.getId()})}"><i class="bi-plus-circle" style="font-size: 1rem; color: forestgreen;"></i></a></td>
                    <td th:text="${project.estimatedHours} + 'h'"></td>
                    <td><a th:href="@{/project/detail/{id}(id=${project.getId()})}"><i class="bi-info-circle" style="font-size: 1rem; color: cornflowerblue;"></i></a></td>
                    <td><a th:href="@{/project/edit/{id}(id=${project.getId()})}"><i class="bi-pencil" style="font-size: 1rem; color: forestgreen;"></i></a></td>
                    <td><a th:href="@{/project/delete/{id}(id=${project.getId()})}"><i class="bi-x-circle-fill" style="font-size: 1rem; color: darkred;"></i></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>