<!DOCTYPE html>
<html  layout:decorate="~{dashboard}"
       xmlns:th="https://www.thymeleaf.org"
       xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<strong th:text="' ' + ${msg}"></strong>
<div th:switch="${projects}">
    <h2 th:case="null">No projects yet!</h2>
    <div th:case="*">
        <h2>Projects</h2>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Owner</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="project : ${projects}">
                <td th:text="${project.getId()}"></td>
                <td th:text="${project.name}"></td>
                <td th:text="${project.description}"></td>
                <td th:text="${project.owner}"></td>
                <td><a th:href="@{/project/edit/{id}(id=${project.getId()})}">Edit</a></td>
                <td><a th:href="@{/project/delete/{id}(id=${project.getId()})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a th:href="@{'/project/ad'}">Add a new project</a></p>
</div>
</body>
<!--<body>-->
<!--<div layout:fragment="content">-->
<!--    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">-->
<!--        <h1 class="h2">View 1</h1>-->
<!--        <div class="btn-toolbar mb-2 mb-md-0">-->
<!--            <div class="btn-group mr-2">-->
<!--                <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>-->
<!--                <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>-->
<!--            </div>-->
<!--            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">-->
<!--                <span data-feather="calendar"></span>-->
<!--                This week-->
<!--            </button>-->
<!--        </div>-->
<!--    </div>-->
<!--    </div>-->
<!--</div>-->
<!--</body>-->
</html>