<!DOCTYPE html>
<html  layout:decorate="~{layout_dash}"
       xmlns:th="https://www.thymeleaf.org"
       xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Reported - Dashboard</title>
</head>
<body>

<div layout:fragment="content" class="container">
    <h2 style="margin-top: 30px">Project detail</h2>
    <div id="helper" class="form-text"><sup>To create invoice you have to have filled your address.</sup></div><hr>

    <form>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Project name</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" th:value="${project.name}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" th:value="${project.description}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Project Start</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" th:value="${project.getProjectStart().toLocalDate() + ' ' + project.getProjectStart().toLocalTime()}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Project End</label>
            <div class="col-sm-10">
                <span th:if="${project.getProjectEnd() != null}">
                    <input type="text" readonly class="form-control-plaintext" th:value="${project.getProjectEnd().toLocalDate() + ' ' + project.getProjectEnd().toLocalTime()}">
                </span>
                <span th:unless="${project.getProjectEnd() != null}">
                    <input type="text" readonly class="form-control-plaintext" th:value="${project.projectEnd}">
                </span>

            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Estimated Hours</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" th:value="${project.estimatedHours}">
            </div>
        </div>
        <div class="form-group row" th:if="${user.getRole() == 'PREMIUM'}" >
            <label class="col-sm-2 col-form-label">Hour Rate</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" th:value="${project.hourRate}">
            </div>
        </div>
    </form>
    <div>
        <a th:href="@{/project/edit/{id}(id=${project.getId()})}" class="btn btn-outline-primary">Edit project</a>
        <a th:href="@{/project/delete/{id}(id=${project.getId()})}" class="btn btn-outline-danger">Delete project</a>
        <a th:href="@{/project/completed/{id}(id=${project.getId()})}" class="btn btn-outline-dark">Complete project</a><br /><br />
        <a th:href="@{/task/ad/{id}(id=${project.getId()})}" class="btn btn-outline-dark"><i class="bi-plus-circle" style="font-size: 1rem; color: forestgreen;"></i>Add Task</a>
        <a th:if="${(user.getRole() == 'PREMIUM') && (address != null)}"  th:href="@{/invoice/ad/{id}(id=${project.getId()})}" class="btn btn-outline-dark"><i class="bi-receipt" style="font-size: 1rem; color: purple;"></i>Create invoice</a>
        <a href="/project/all" class="btn btn-success">Back</a>
    </div>
    <div th:switch="${#lists.size(tasks)}">
        <div th:case="0">
            <h2 style="margin-top: 30px">No tasks yet!</h2>
            <span>You may want to add one <a th:href="@{/task/ad/{id}(id=${project.getId()})}"><i class="bi-plus-circle" style="font-size: 1rem; color: forestgreen;"></i></a></span>
        </div>
        <div th:case="*">
            <h2 style="margin-top: 30px" th:text="'Tasks(' + ${#lists.size(tasks)} + '):'"></h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Status</th>
                    <th>Info</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="task : ${tasks}">
                    <td th:text="${task.taskName}"></td>
                    <td th:text="${task.description}"></td>
                    <td>
                        <span th:if="${task.startDate} != null" th:text="${task.startDate.toLocalDate() + ' ' + task.startDate.toLocalTime()}"</span>
                        <span th:unless="${task.startDate} != null"}>-</span>
                    </td>
                    <td>
                        <span th:if="${task.endDate} != null" th:text="${task.endDate.toLocalDate() + ' ' + task.endDate.toLocalTime()}"></span>
                        <span th:unless="${task.endDate != null}">-</span>
                    </td>
<!--                    <td th:text="${task.taskComplete()} ? 'Done' : 'Pending'"><td>-->
<!--                    <td>-->
<!--                        <span th:if="${task.taskComplete() == true}">Done</span>-->
<!--                        <span th:unless="${task.taskComplete() == true}">Pending</span>-->
<!--                    </td>-->
                    <td>
                        <span th:if="${task.taskComplete() == true}"><i class="bi-check-circle-fill" style="font-size: 1rem; color: green;"></i></span>
                        <span th:unless="${task.taskComplete() == true}"><a th:href="@{/task/completed/{id}(id=${task.getId()})}"><i class="bi-check-circle" style="font-size: 1rem; color: orange;"></i></a></span>
                    </td>
                    <td><a th:href="@{/task/detail/{id}(id=${task.getId()})}"><i class="bi-info-circle" style="font-size: 1rem; color: cornflowerblue;"></i></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div th:if="${user.getRole() == 'PREMIUM'}"  th:switch="${#lists.size(invoices)}">
        <div th:case="0">
            <h2 style="margin-top: 30px">No invoices yet!</h2>
            <span>You may want to add one <a th:href="@{/invoice/ad/{id}(id=${project.getId()})}"><i class="bi-receipt" style="font-size: 1rem; color: purple;"></i></a></span>
        </div>
        <div th:case="*">
            <h2 style="margin-top: 30px" th:text="'Invoices(' + ${#lists.size(invoices)} + '):'"></h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Client</th>
                    <th>Company name</th>
                    <th>Due by</th>
                    <th>Created</th>
                    <th>PDF</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="invoice : ${invoices}">
                    <td th:text="${invoice.client.firstName}"></td>
                    <td th:text="${invoice.client.companyName}"></td>
                    <td th:text="${invoice.dueBy.toLocalDate()}"></td>
                    <td th:text="${invoice.created.toLocalDate()}"></td>
                    <td><a th:href="@{/invoice/pdf/{id}(id=${invoice.id})}" th:target="_blank"><i class="bi-file-earmark-check" style="font-size: 1rem; color: darkorange;"></i></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>