<!DOCTYPE html>
<html  layout:decorate="~{layout_dash}"
       xmlns:th="https://www.thymeleaf.org"
       xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Reported - Dashboard</title>
</head>
<body>

<div layout:fragment="content" class="container">
    <h2><span th:if="${client != null}" th:text="${client.companyName}"></span> Address</h2>
    <h2><span th:if="${client == null}" th:text="${user.getNiceNameAndLastname()}"></span> Address</h2>
    <form th:action="@{/address/update/{id}(id=${address.id})}" th:object="${address}" method="post">

        <div class="form-group">
            <label >Street:</label>
            <input type="text" th:field="*{street}" class="form-control" placeholder="Street name" >
            <p th:if="${#fields.hasErrors('street')}" th:errors="*{street}" class="alert alert-danger" role="alert">Street was not set</p>
        </div>
        <div class="form-group">
            <label >City:</label>
            <input type="text" th:field="*{city}" class="form-control" placeholder="City" >
            <p th:if="${#fields.hasErrors('city')}" th:errors="*{city}" class="alert alert-danger" role="alert">City was not set</p>
        </div>
        <div class="form-group">
            <label >Post code:</label>
            <input type="text" th:field="*{postCode}" class="form-control" placeholder="Post code" >
            <p th:if="${#fields.hasErrors('postCode')}" th:errors="*{postCode}" class="alert alert-danger" role="alert">Postcode was not set</p>
        </div>
        <div class="form-group">
            <input type="hidden" readonly class="form-control" th:value="*{ownerId}" name="ownerId">
        </div>
        <div>
            <button type="submit" class="btn btn-primary" style="margin-right: 5px">Save</button>
            <span th:if="${client == null}">
                        <a th:href="@{/user/detail}" class="btn btn-success">Back</a>
                        </span>
            <span th:unless="${client == null}">
                            <a th:href="@{/client/all}" class="btn btn-success">Back</a>
                        </span>
        </div>

    </form>
</div>
</body>
</html>