<!DOCTYPE html>
<html  layout:decorate="~{layout_dash}"
       xmlns:th="https://www.thymeleaf.org"
       xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Reported - Dashboard</title>
</head>
<body>

<div layout:fragment="content" class="container">
    <div th:if="${msg !=''}" class="alert alert-success alert-dismissible fade show" style="margin-top: 10px">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <i class="fas fa-check-circle" style="color:green"></i><strong th:text="${msg}"></strong>
    </div>
    <div th:switch="${#maps.size(tasks)}">
        <div th:case="0">
            <h2 style="margin-top: 30px">No tasks yet!</h2>
            <h3>You have to create project before <a th:href="@{'/project/ad'}"><i class="bi-plus-circle" style="font-size: 3rem; color: forestgreen;"></i></a></h3>
        </div>
        <div th:case="*">
            <h2 style="margin-top: 30px" th:text="'Tasks(' + ${#maps.size(tasks)} + ')'"></h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Project</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Closed</th>
                    <th>Info</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="task, proj : ${tasks}" th:with="progress=${task.value}">
                    <td th:text="${task.value.getName()}"></td>
                    <td th:text="${task.key.taskName}"></td>
                    <td th:text="${task.key.shortDescription}"></td>
                    <td>
                        <span th:if="${task.key.taskComplete() == true}">Done</span>
                        <span th:unless="${task.key.taskComplete() == true}">Pending</span>
                    </td>
<!--                    <td th:text="${task.taskComplete()} ? 'Done' : 'Pending'"><td>-->
                    <td>
                        <span th:if="${task.key.taskComplete() == true}"><i class="bi-check-circle-fill" style="font-size: 1rem; color: green;"></i></span>
                        <span th:unless="${task.key.taskComplete() == true}"><a th:href="@{/task/completed/{id}(id=${task.key.getId()})}"><i class="bi-check-circle" style="font-size: 1rem; color: orange;"></i></a></span>
                    </td>
                    <td><a th:href="@{/task/detail/{id}(id=${task.key.getId()})}"><i class="bi-info-circle" style="font-size: 1rem; color: cornflowerblue;"></i></a></td>
                    <td><a th:href="@{/task/edit/{id}(id=${task.key.getId()})}"><i class="bi-pencil" style="font-size: 1rem; color: forestgreen;"></i></a></td>
                    <td><a th:href="@{/task/delete/{id}(id=${task.key.getId()})}"><i class="bi-x-circle-fill" style="font-size: 1rem; color: darkred;"></i></a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${projectId != null}">
            <p><a th:href="@{/task/ad/{id}(id=${projectId})}">Add new task</a></p>
        </div>
    </div>
</div>

</body>
</html>