<!DOCTYPE html>
<html  layout:decorate="~{dashboard}"
       xmlns:th="https://www.thymeleaf.org"
       xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<strong th:text="' ' + ${msg}"></strong>
<div th:switch="${tasks}">
    <h2 th:case="null">No tasks yet!</h2>
    <div th:case="*">
        <h2>Tasks</h2>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>ProjectId</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task : ${tasks}">
                <td th:text="${task.getId()}"></td>
                <td th:text="${task.taskName}"></td>
                <td th:text="${task.description}"></td>
                <td th:text="${task.projectId}"></td>
                <td><a th:href="@{/tasks/edit/{id}(id=${task.getId()})}">Edit</a></td>
                <td><a th:href="@{/tasks/delete/{id}(id=${task.getId()})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${projectId != null}">
    <p><a th:href="@{/tasks/ad/{id}(id=${projectId})}">Add a new task</a></p>
    </div>
</div>
</body>
</html>