<!DOCTYPE html>
<html  layout:decorate="~{layout_dash}"
       xmlns:th="https://www.thymeleaf.org"
       xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Reported - Dashboard</title>
</head>
<body>

<div layout:fragment="content" class="container">
    <h2 style="margin-top: 30px">Task detail</h2><hr>
    <form>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Task name</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" th:value="${task.taskName}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" th:value="${task.description}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Task Start</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" th:value="${task.startDate.toLocalDate()}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Task End</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" th:value="${task.endDate}">
            </div>
        </div>
        <div class="form-group row" th:if="${user.getRole() == 'PREMIUM'}" >
            <label class="col-sm-2 col-form-label">Hour Rate</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" th:value="${task.hourRate}">
            </div>
        </div>
    </form>
    <div>
        <a th:href="@{/task/edit/{id}(id=${task.getId()})}" class="btn btn-outline-primary">Edit task</a>
        <a th:href="@{/task/delete/{id}(id=${task.getId()})}" class="btn btn-outline-danger">Delete task</a>
        <a href="/task/all" class="btn btn-success">Back</a>
    </div>
</div>
</body>
</html>