<!DOCTYPE html>
<html  layout:decorate="~{layout_dash}"
       xmlns:th="https://www.thymeleaf.org"
       xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Reported - Dashboard</title>

    <script src="https://cdn.tiny.cloud/1/0eyt8a9t95q9tc7bp9r36u1vm85vxjisnjbarbrhvrawlsyn/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

    <script>
        tinymce.init({
            selector: 'textarea#editor',
            menubar: false
        });
    </script>
</head>
<body>

<div layout:fragment="content" class="container">
    <h2 style="margin-top: 30px">Edit Task</h2><hr>
    <form th:action="@{/task/update/{id}(id=${task.id})}" th:object="${task}" method="post">
        <input type="hidden" th:value="*{id}" class="form-control" readonly="readonly" >
        <div class="form-group">
            <label>Name:</label>
            <input type="text" th:field="*{taskName}" class="form-control">
            <p th:if="${#fields.hasErrors('taskName')}" th:errors="*{taskName}" class="alert alert-danger" role="alert"></p>
        </div>
        <div class="form-group">
            <label>Short Description:</label>
            <input type="text" th:field="*{shortDescription}" class="form-control" placeholder="Short Description">
        </div>
        <div class="form-group">
            <label>Description:</label>
            <textarea id="editor" th:field="*{description}" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label>Start date:</label>
            <input type="datetime-local" th:field="*{startDate}" class="form-control" placeholder="Date of start">
            <p th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}" class="alert alert-danger" role="alert"></p>
        </div>
        <div class="form-group">
            <label>End date:</label>
            <input type="datetime-local" th:field="*{endDate}" class="form-control" placeholder="Date of end">
        </div>
        <div class="form-group" th:if="${user.getRole() == 'PREMIUM'}" >
            <label>Hour rate:</label>
            <input type="number" th:field="*{hourRate}" class="form-control" placeholder="Hour rate" >
        </div>
        <input type="hidden" th:field="*{projectId}" class="form-control" >

        <div>
            <button type="submit" class="btn btn-primary" style="margin-right: 5px">Save changes</button>
            <a href="/task/all" class="btn btn-success">Back</a>
        </div>
    </form>
</div>
</body>
</html>