<!DOCTYPE html>
<html  layout:decorate="~{layout_dash}"
       xmlns:th="https://www.thymeleaf.org"
       xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Reported - Dashboard</title>
</head>
<body>

<div layout:fragment="content" class="container">
    <h2 style="margin-top: 30px">Clients</h2>
    <form th:action="@{/client/add}" th:object="${client}" method="post">

        <div class="form-group">
            <label >Name:</label>
            <input type="text" th:field="*{firstName}" class="form-control" placeholder="Name" >
            <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="alert alert-danger" role="alert">firstName was not set</p>
        </div>
        <div class="form-group">
            <label >Last name:</label>
            <input type="text" th:field="*{lastName}" class="form-control" placeholder="last name" >
            <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="alert alert-danger" role="alert">lastName was not set</p>
        </div>
        <div class="form-group">
            <label >Company name:</label>
            <input type="text" th:field="*{companyName}" class="form-control" placeholder="company name" >
            <p th:if="${#fields.hasErrors('companyName')}" th:errors="*{companyName}" class="alert alert-danger" role="alert">companyName was not set</p>
        </div>
        <div class="form-group">
            <label >ICO:</label>
            <input type="text" th:field="*{ico}" class="form-control" placeholder="ico" >
            <p th:if="${#fields.hasErrors('ico')}" th:errors="*{ico}" class="alert alert-danger" role="alert">ico was not set</p>
        </div>
        <div class="form-group">
            <label >DIC:</label>
            <input type="text" th:field="*{dic}" class="form-control" placeholder="dic" >
            <p th:if="${#fields.hasErrors('dic')}" th:errors="*{dic}" class="alert alert-danger" role="alert">dic was not set</p>
        </div>
        <div class="form-group">
            <input type="hidden" th:field="*{userId}" class="form-control"  >
        </div>
        <button type="submit" class="btn btn-primary">Add new client</button>
    </form>
</div>
</body>
</html>