<!DOCTYPE html>
<html  layout:decorate="~{layout_dash}"
       xmlns:th="https://www.thymeleaf.org"
       xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Reported - Dashboard</title>
    <script th:src="@{/client/ARESClientFiller.js}" type="text/javascript"></script>
</head>
<body>

<div layout:fragment="content" class="container">
    <h2 style="margin-top: 30px">New Client</h2>
    <form th:action="@{/client/add}" th:object="${client}" method="post">

        <div class="form-group">
            <label >Name:</label>
            <input id="firstName" type="text" th:field="*{firstName}" class="form-control" placeholder="First name" >
            <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="alert alert-danger" role="alert"></p>
        </div>
        <div class="form-group">
            <label >Last name:</label>
            <input id="lastName" type="text" th:field="*{lastName}" class="form-control" placeholder="Last name" >
            <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="alert alert-danger" role="alert"></p>
        </div>
        <div class="form-group">
            <label >Company name:</label>
            <input id="companyName" type="text" th:field="*{companyName}" class="form-control" placeholder="Company name" >
            <p th:if="${#fields.hasErrors('companyName')}" th:errors="*{companyName}" class="alert alert-danger" role="alert"></p>
        </div>
        <div class="form-group">
            <label >ICO:</label>
            <div class="input-group">
                <input type="text" th:field="*{ico}" class="form-control" placeholder="ICO code" id="ico">
                <p th:if="${#fields.hasErrors('ico')}" th:errors="*{ico}" class="alert alert-danger" role="alert"></p>
                <p class="invalid-tooltip" id="icoWarning" style="display:none">Check ICO format and length. Should be 8 numbers.</p>
                <span class="input-group-btn">
                <button class="btn btn-outline-secondary" type="button" th:onclick="verifyClient()">ARES verify</button>
                </span>
            </div><!-- /input-group -->
        </div>
        <div class="form-group">
            <label >DIC:</label>
            <input id="dic" type="text" th:field="*{dic}" class="form-control" placeholder="DIC code" >
            <p th:if="${#fields.hasErrors('dic')}" th:errors="*{dic}" class="alert alert-danger" role="alert">/p>
        </div>
        <div class="form-group">
            <input type="hidden" th:field="*{userId}" class="form-control"  >
        </div>
        <button type="submit" class="btn btn-primary">Add new client</button>
    </form>
</div>

</body>
</html>