<!DOCTYPE html>
<html  layout:decorate="~{layout_dash}"
       xmlns:th="https://www.thymeleaf.org"
       xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Reported - Dashboard</title>
</head>
<body>

<div layout:fragment="content" class="container">
    <div th:if="${msg !=''}" class="alert alert-success alert-dismissible fade show" style="margin-top: 10px">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <i class="fas fa-check-circle" style="color:green"></i><strong th:text="${msg}"></strong>
    </div>
    <div th:switch="${#lists.size(clients)}">
        <div th:case="0">
            <h2 style="margin-top: 30px">No clients yet!</h2>
            <h3>You may want add one <a th:href="@{'/client/ad'}"><i class="bi-plus-circle" style="font-size: 3rem; color: forestgreen;"></i></a></h3>
        </div>
        <div th:case="*">
            <h2 style="margin-top: 30px">Clients</h2><p><a th:href="@{'/client/ad'}" class="btn btn-outline-primary"><i class="bi bi-folder-plus" style="margin-right: 5px"></i>Add a new client</a></p>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Company name</th>
                    <th>ICO</th>
                    <th>DIC</th>
                    <th>Manage Address</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="client, add : ${clientAddress}" th:with="progress=${client.value}">
                    <td th:text="${client.key.getFirstName()}"></td>
                    <td th:text="${client.key.getLastName()}"></td>
                    <td th:text="${client.key.getCompanyName()}"></td>
                    <td th:text="${client.key.getIco()}"></td>
                    <td th:text="${client.key.getDic()}"></td>
                    <td>
                        <span th:if="${client.value == false}">
                        <a th:href="@{/address/ad/{id}(id=${client.key.getId()})}"><i class="bi-plus-circle" style="font-size: 1rem; color: forestgreen;"></i></a>
                        </span>
                        <span th:unless="${client.value == false}">
                            <a th:href="@{/address/edit/{id}(id=${client.key.getId()})}"><i class="bi-house-door" style="font-size: 1rem; color: deepskyblue;"></i></a>
                        </span>
                    </td>
                    <td><a th:href="@{/client/edit/{id}(id=${client.key.getId()})}"><i class="bi-pencil" style="font-size: 1rem; color: forestgreen;"></i></a></td>
                    <td><a th:href="@{/client/delete/{id}(id=${client.key.getId()})}"><i class="bi-x-circle-fill" style="font-size: 1rem; color: darkred;"></i></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>