<!DOCTYPE html>
<html  layout:decorate="~{layout_dash}"
       xmlns:th="https://www.thymeleaf.org"
       xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Reported - Dashboard</title>
</head>
<body>

<div layout:fragment="content" class="container">
    <h2 style="margin-top: 30px">User Detail</h2>
    <form>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">User name</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" th:value="${user.getUsername()}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">First Name</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" th:value="${user.firstName}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Last Name</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" th:value="${user.lastName}">
            </div>
        </div>
        <hr>
        <h4>Payment method</h4>
        <div class="form-group row" th:if="${user.getRole() == 'PREMIUM'}" >
            <label class="col-sm-2 col-form-label">Bank account</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" th:value="${user.bankAccount}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Role</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" th:value="${user.getRole()}">
            </div>
        </div>
        <hr>
        <h4>Addresss</h4>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Street</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" th:value="${address.street}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">City</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" th:value="${address.city}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Post Code</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" th:value="${address.postCode}">
            </div>
        </div>
    </form>
    <div>
        <a href="/user/detail" class="btn btn-success">Back</a>
        <a href="/user/edit" class="btn btn-outline-warning">Edit</a>
        <span  th:if="${(address == null) && (user.getRole() == 'PREMIUM') }">
                        <a th:href="@{/address/ad/{id}(id=${user.getId()})}" class="btn btn-outline-warning">Add address</a>
                        </span>
        <span  th:unless="${address == null}">
                            <a th:href="@{/address/edit/{id}(id=${user.getId()})}" class="btn btn-outline-warning"> Edit address</a>
                        </span>
    </div>
</div>
</body>
</html>