<!DOCTYPE html>
<html  layout:decorate="~{layout_dash}"
       xmlns:th="https://www.thymeleaf.org"
       xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Reported - Dashboard</title>
</head>
<body>

<div layout:fragment="content">
    <div class="container-fluid">
        <div class="row" style="margin: 30px">
            <div class="col"><h3 th:text="'Hi ' + ${user.getFirstName()}"></h3></div>
            <div class="col"><a th:href="@{'/project/ad'}" class="btn btn-primary btn-block"><i class="bi bi-folder-plus" style="margin-right: 5px"></i>Create Project</a></div>
            <div class="col" th:if="${user.getRole() == 'PREMIUM'}" ><a th:href="@{'/client/ad'}" class="btn btn-success btn-block"><i class="bi bi-folder-plus" style="margin-right: 5px"></i>New Client</a></div>
<!--            <div class="col"><a th:href="@{'/project/ad'}" class="btn btn-warning"><i class="bi bi-folder-plus" style="margin-right: 5px"></i>New Working Group</a></div>-->

        </div>

        <div th:switch="${#lists.size(projects)}">
            <div th:case="0">
                <h2 style="margin-top: 30px">No projects yet!</h2>
                <span>You may wanna start with creating new project with button up there.</span>
            </div>
            <div th:case="*">
                <div class="row">
                    <div class="col-md-6" th:each="project, stats : ${projectsProgress}" th:with="progress=${project.value}">
                        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                            <div class="col p-4 d-flex flex-column position-static">
                                <div><span th:if="${project.key.projectEnd != null}" style="white-space:nowrap;"><i class="bi-check-circle-fill" style="font-size: 1rem; color: green;margin-right: 5px"></i></span><strong class="d-inline-block mb-2 text-primary" th:text="'~' + ${project.key.estimatedHours} + ' hours'"></strong></div>
                                <a th:href="@{/project/detail/{id}(id=${project.key.getId()})}"><h3 class="mb-0" th:text="${project.key.name}" style="margin-right: 18px;"></h3></a>
                                <div class="mb-1 text-muted" th:text="${project.key.projectStart.toLocalDate()}"></div>
                                <p class="card-text mb-auto" th:text="${project.key.description}"></p>
                                <a th:href="@{/project/detail/{id}(id=${project.key.getId()})}" class="stretched-link">Project detail</a>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" th:attr="aria-valuenow=${#numbers.formatDecimal(progress, 1, 'POINT', 2, 'POINT')}" th:style="'width:' + ${#numbers.formatDecimal(progress, 1, 'POINT', 2, 'POINT')} + '%;'"  th:text="${#numbers.formatDecimal(progress, 1, 'POINT', 2, 'POINT')} + ' %'" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
