<header  xmlns:th="https://www.thymeleaf.org"
         th:fragment="header"
         xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <a class="navbar-brand" href="/">Reported System</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse" >
                        <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                        <a class="nav-link" href="#">Who we are?</a>
                                </li>
                                <li class="nav-item">
                                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Purchase Premium</a>
                                </li>
<!--                                <li sec:authorize="isAuthenticated()" class="nav-item">-->
<!--                                        <a class="nav-link" href="#">authorized</a>-->
<!--                                </li>-->
<!--                                <li sec:authorize="isAnonymous()" class="nav-item">-->
<!--                                        <a class="nav-link" href="#">anonym</a>-->
<!--                                </li>-->
                                <li class="nav-item">
                                        <a class="nav-link" href="#">FAQ</a>
                                </li>
                        </ul>
                        <div>
                                <span th:if="${(user != null) && (user.getId() != null)}">
                                        <a th:href="@{/dashboard}" class="btn btn-outline-primary my-2 my-sm-0">Dashboard</a>
                                        <a th:href="@{/logout}" class="btn btn-outline-warning my-2 my-sm-0">Log Out</a>
                                </span>
                                <span th:unless="${user != null}">
                                        <a th:href="@{/loginuser}" class="btn btn-outline-primary my-2 my-sm-0">Log In</a>
                                        <a th:href="@{/registeruser}" class="btn btn-outline-success my-2 my-sm-0">Sign Up</a>
                                </span>
                        </div>


                </div>
        </nav>
</header>