<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Registration for Reported system</title>
    </head>
    <body>
        <form th:action="@{/registration/addUser}" th:object="${user}" method="post">
            <div><label> Name : <input type="text" th:field="*{firstName}" class="form-control" placeholder="Enter name"/> </label></div>
            <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="alert alert-danger" role="alert">Name was not set</p>

            <div><label> Surname : <input type="text" th:field="*{lastName}" class="form-control" placeholder="Enter lastname"/> </label></div>
            <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="alert alert-danger" role="alert">Surname was not set</p>

            <div><label> User Name : <input type="text" th:field="*{username}" class="form-control" placeholder="Enter username"/> </label></div>
            <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="alert alert-danger" role="alert">Username was not set</p>

            <div><label> Password: <input type="password" th:field="*{password}" class="form-control" placeholder="Password"/> </label></div>
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="alert alert-danger" role="alert">Password not set</p>
            <div><input type="submit" value="Sign In"/></div>
        </form>
    </body>
</html>